body {
	background-color: rgb(0, 67, 4);
}

#container {
	max-width: 960px;
	margin: 0 auto;
	background: #f9f9f9;
	font-size: 1.5rem;
	padding: 25px;
	font-family: 'Bai Jamjuree', sans-serif;
	text-align: center;
}

.parallax-window {
    min-height: 450px;
    background: transparent;
}

.header {
	text-align: center;
	/*margin-top: 25px;*/
}

.space {
	margin: 25px 10px 25px 10px;
/*	display: grid;
	place-items: center;*/
	
}

.space .section {
	
}
