.container {
  position: relative;
  text-align: center;
}

img{
	border-radius: 4px;
	opacity: 1;
	margin-top: 5rem;
	box-shadow: 3px 5px 5px #888888;
}

img:hover{
	opacity: .6;
	color: rgba(0, 0, 0, 1);
}

/*.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.0);
}*/