.container {
  background-color: transparent;
}

img{
	border-radius: .4rem;
}

ul {
  border-radius: .4rem;
  list-style-type: none;
  text-align: left;
  background-color: white;
  padding: 1rem;
  width: 32.5rem;
  vertical-align: center;
}

.shadow {
  box-shadow: 3px 5px 5px #888888;
}