/*font size set at 10, everything else based off that via rem*/
html {
	background-color: white;
	color: black;
	font-size: 10px;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 1.75rem;
}

input {
	border-radius: .4rem;
	background-color: rgba(121, 122, 124, .1);
	padding: .5rem;
	font-size: 1.5rem;
	outline-style: none;
	border: 0rem;
	font-family: 'Roboto', sans-serif;
	width: 25rem;
	text-align: center;
}

/*placeholder text disappears when clicked on*/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

ul {
  border-radius: .4rem;
  list-style-type: none;
  text-align: left;
  background-color: white;
  padding: 1rem;
  width: 32.5rem;
  vertical-align: center;
}

.artImg{
	border-radius: .4rem;
	height: 46.5rem;
	width: auto;
}


a {
	text-decoration: underline;
	color: black;
}

a:hover {
	text-decoration: none;
	color: rgba(121, 122, 124, 1);
}

.about {
	margin-top: 7.25rem;
}

.white {
	background-color: white;
	width: 100%;
	height: 90rem;
}

.lightGrey{
	background-color: rgba(121, 122, 124, .05);
	width: 100%;
	height: 90rem;
}

.grey {
	background-color: rgba(121, 122, 124, .1);
	width: 100%;
	height: 90rem;
}

.flexVC {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.topBar {
	position: sticky;
	top: 1rem;
	z-index: 1;
	padding-top: 1rem;
}

.moreTopMargin {
	margin-top: 5rem;
}

.air {
	position: absolute; 
	right: 2rem;
}

.leftPadding {
	padding-left: 2rem;
}


.topMargin {
	margin-top: 1rem;
}

.ital {
  font-style: italic;
}

.smalltxt {
  font-size: 1.5rem;
}

.center {
	text-align: center;
}

.container {
  background-color: transparent;
}

.shadow {
  box-shadow: 3px 5px 5px #888888;
}

.pointer:hover {
	cursor: pointer;
	color: rgba(121, 122, 124, 1);
}

.hg:hover {
	transition: transform .4s;
	transform: scale(1.2);
	cursor: pointer;
}

/*shrinking artwork, home sections and input for mobile devices*/
@media (max-width: 760px) {
	.artImg {
		width: 25rem;
		height: auto;
	}
	input{
		width: 15rem;
	}
	ul {
		width: 23rem;
	}
	.white {
		height: 75rem;
	}

	.lightGrey{
		height: 75rem;
	}

	.grey {
		height: 75rem;
	}
}