body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: 'Saira', sans-serif;
	font-size: 60px;
}

#c1 {
	margin-left: 5px;
	border: solid 0px;
	width: 960px;
	height: 400px;
	margin: 10px;
	background-color: rgba(57, 182, 255, 1);
	border-radius: 30px;
}

#c2 {
	border: solid 0px;
	width: 960px;
	height: 275px;
	margin: 10px;
}

#c3 {
	margin-left: 5px;
	border: solid 0px;
	width: 960px;
	height: 400px;
	margin: 10px;
	background-color: rgba(255, 130, 57, 1);
	border-radius: 30px;
}

input {
	border: 0px 1px 1px 0px;
	margin-bottom: 30px;
	font-family: 'Saira', sans-serif;
	font-size: 50px;
	text-align: center;
	border-radius: 15px;
}

.flexwrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#c2temp {

}

#c2humid {

}

#c2wind {

}

ul {
	list-style-type: none;
	text-align: center;
}

li {
	display: inline-block;
	margin: 0px 10px 0px 10px;
}

.blue {
	color: rgba(57, 182, 255, 1);
}

.orange {
	color: rgba(255, 130, 57, 1);
}

.black {
	color: rgba(0, 0, 0, 1);
}


#canvas {
	width: 95%;
	background-color: black;
}

.smtext {
	font-size: 35px;
}

.bgtext {
	font-size: 60px;
}